{% extends "base.html" %}

{% block content %}

{% if not created %}


<div style='margin-top:30px;'>
    <form action='.' method='POST'>
        {% csrf_token %}
        <div>
            <input type='text' name='title' placeholder='Your name' />
        </div>
        <div style='margin-top:10px;'>
            <textarea name='content' placeholder='Post content'></textarea>
        </div>
        <div style='margin-top:10px;'><button type='submit'>Create Post</button>
        </div>
    </form>
</div>

{% else %} 
<p>Your post was created!</p>
<a href ='/posts/{{ object.id }}/'>{{ object.title }} - {{ object.content }}</a>

{% endif %}
{% endblock content %}