{% extends 'base.html' %}

{% block content %}

<h1>Post</h1>

<ul>
{% for post in object_list %}
    <li><a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a> - 
        {{ post.author.first_name }} 
        {{ post.author.last_name }} - 
        {{ post.post_date }}: {{ post.post_time }}<br/>

        {{ post.body|slice:":150" }} <br/>
        {% if user.is_authenticated %}
            <a href="{% url 'post-edit' post.pk %}"><small>(Edit) </small></a>
            <a href="{% url 'post-delete' post.pk %}"><small>(Delete) </small></a></li>
        {% endif %}
{% endfor %}
</ul>

{% endblock %}