{% extends 'base.html' %}

{% block title %} Create New Post {% endblock %}

{% block content %}

{% if user.is_authenticated %}
    <h1>Create Post</h1>
    <br/>
    <br/>

    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-secondary">Post</button>
        </form>
    </div>

    <script>
		var name = "{{ user.id }}";
		
		document.getElementById("auth").value = name;

	</script>

{% else %}
    This action is not permitted. Log in and try again.
{% endif %}

{% endblock %}