
{% extends 'base.html' %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block content %}

<h1>{{ post.title }}</h1>
<small>{{post.author.first_name}} {{ post.author.last_name }} - 
    {{ post.post_date }}: {{ post.post_time }}</small><br/>
<hr>

{% if post.image %}
	<img src="{{ post.image.url }}">
{% endif %}

{{ post.body|safe }} <br/>

{% if total_likes == 1 %}
    <small>Post has {{ total_likes }} like</small>
{% else %}
    <small>Post has {{ total_likes }} likes</small>
{% endif %}

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <a href="{% url 'post-edit' post.pk %}" class="btn btn-secondary" style="margin-left: 10px;">Edit</a>
        <a href="{% url 'post-delete' post.pk %}" class="btn btn-secondary" style="margin-left: 10px;">Delete</a>
    {% else %}
        <hr>
        <form action="{% url 'post-like' post.pk %}" method="POST">
            {% csrf_token %}
            {% if liked %}
            <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-info">Unlike</button>
            {% else %}
                <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-info">Like</button>
            {% endif %}
        </form>
    {% endif %}
{% endif %}

{% endblock %}