
{% extends 'base.html' %}

{% block title %}
{{ post.title }}
{% endblock %}

{% block content %}

<h1>{{ post.title }}</h1>
<small>{{post.author.first_name}} {{ post.author.last_name }} - 
    {{ post.post_date }}: {{ post.post_time }}</small><br/>
<hr>
{{ post.body|safe }}

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <a href="{% url 'post-edit' post.pk %}" class="btn btn-secondary" style="margin-left: 10px;">Edit</a>
        <a href="{% url 'post-delete' post.pk %}" class="btn btn-secondary" style="margin-left: 10px;">Delete</a>
    {% endif %}
{% endif %}

{% endblock %}