{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>User Profile</h1>

{% if user.profile_picture %}
<div class="media">
    <img src="{{ user.profile_picture.url }}" class="align-self-center mr-3" alt="..."  width=200 height=200>
{% else %}
<div class="media">
    <img src="{% static 'Posts/images/default.png' %}" class="align-self-center mr-3" alt="..."  width=200 height=200>
{% endif %}
    <div class="media-body">
      <h5 class="mt-0">{{ user.user.first_name }} {{ user.user.last_name }}</h5>
      <p>{{ user.bio }}</p>
    </div>
</div>